.sheet-rolltemplate-pf_generic, .sheet-rolltemplate-pf_spell, .sheet-rolltemplate-pf_attack, .sheet-rolltemplate-pf_defense, .sheet-rolltemplate-pf_block {
  table {
    width: 100%;
    background-color: #FFF;
    border: 2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #000;
    overflow: hidden;
  }
  .sheet-header {
    background-color: #000;
    border: 1px solid #000;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.1em;
  }
  .sheet-header-table {
    display: table;
    width: 100%;
  }
  .sheet-header-middle {
    display: table-cell;
    vertical-align: middle;
  }
  .sheet-header-image {
    float: right;
    display: table-cell;
    padding: 2px 0 2px 2px;
    vertical-align: middle;
    min-width: 30px;
  }
  .sheet-subtitle {
    background-color: #000;
    border: 1px solid #000;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal !important;
    text-align: left;
  }
  img {
    vertical-align: middle;
  }
  .sheet-header a {
    color: #FFF;
    text-decoration: underline;
  }
  td {
    padding: 1px 1px 1px 5px;
    line-height: 1.1em;
    text-align: right;
    vertical-align: sub;
  }
  tr:nth-child(odd) {
    background-color: #D3D3D3;
  }
  td:nth-child(odd) {
    text-align: left;
    font-weight: bold;
  }
  .inlinerollresult {
    color: #FFF;
    background-color: #000;
    border-color: #000;
    min-width: 1em;
    text-align: center;
    display: inline-block;
    margin-left: 1px;
    padding: 0;
    &.fullcrit {
      color: #FFF;
      background-color: #3FB315;
    }
    &.fullfail {
      color: #FFF;
      background-color: #B31515;
    }
    &.importantroll {
      color: #FFF;
      background-color: #4A57ED;
    }
  }
}

.sheet-rolltemplate-pf_spell {
  .sheet-header {
    font-weight: bold;
    text-align: left;
  }
  .sheet-subtitle {
    font-weight: normal;
  }
  td {
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #D3D3D3;
  }
  .sheet-tcat {
    font-weight: bold;
  }
}

.sheet-rolltemplate-pf_attack {
  .sheet-header {
    font-weight: bold;
  }
  .sheet-subtitle {
    font-weight: normal;
  }
  td {
    vertical-align:initial;
  }
  td:nth-child(odd) {
    font-weight: normal;
  }
}

.sheet-rolltemplate-pf_defense {
  td {
    vertical-align: initial;
  }
}

.sheet-rolltemplate-pf_block {
  td {
    text-align: left;
  }
  td:nth-child(odd) {
    text-align: initial;
    font-weight: initial;
  }
}